@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
}
:root{
  --background: #0c1017;
  --boxer-blu: #161B22;
  --input: #0D1117;
  --border-input: #30363D;
  --border-boxer: #21262D;
  --forgotPassword: #2F81F7;
  --color-button-hover: #2EA043;
  --color-button: #238636;
  --font-ubuntu: 'Ubuntu', sans-serif;
}
body{
  background-color: var(--background);
}

